*{
  font-family:'Noto Sans KR', sans-serif;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* 전체 폰트 넣기 */

h1{
  font-family: 'Noto Sans KR', sans-serif;
}
/* 타이틀 글씨 부분 폰트 넣기 */

body{
  background:black;
  position:relative;
}

html{
  scroll-behavior: smooth;
}
/* 스크롤를 부드럽게 올려주고 내려준다.
a태그로 스크롤를 줄 때 사용가능  */

#top_button{
  position:fixed;
  width:60px;
  height:60px;
  background:white;
  border-radius:50%;
  right:5%;
  bottom:5%;
  font-size:30px;
  text-align:center;
  line-height:55px;
  /*줄 높이는 속성*/
  cursor:pointer;
}
/*올릴 수 있는 버튼 스타일 주기
부트스트랩에 가져온 아이콘은 글자취급을 해주기 때문에
크기 간격조정이 가능합니다.*/

#navigator{
  display:flex;
  flex-direction:column;
  /*방향을 지정해준다. 위에서 아래방향*/
  align-items:center;
  width:100vw;
  position:fixed;
  top:0;
  z-index:99;
  /*겹쳐보이는 정도*/
  background:rgba(0,0,0,0.6);
  /*색상의 투명도를 나타냄*/
  height:120px;


}

/*
1. vw = viewport width라는 의미로 현재 실행 중인
스크린의 크기에 맞춰 상대적 크기를 반환하겠다는 것

브라우저 너비를 의미하는 것이다.

예시로 initial-scale=1.0 1배
                   

2. 열려있는 화면 전체의 상대길이이기 때문에 
스크롤바를 포함한 길이를 반환

3. % 는 창이 중심이 아닌, 
%를 쓰고 있는 요소의 부모 요소의 길이에 맞게 반환합니다.
또한, 그냥 전체 화면의 %를 쓴다 하더라도 
스크롤 바를 포함하지 않은 현재 화면 길이만을 반환

4. viewport 의 길이 중 더 긴 길이를 기준으로 삼으면 vmax,
더 짧은 길이를 기준으로 삼는 것은 vmin 입니다.
*/

#navigator a{
  font-size:18px;
  text-decoration:none;
  color:white;
  font-family:'Nanum Myeongjo', serif;
}
/*a태그로 글씨 넣으거 스타일 주기*/

#navigator a:hover{
  filter: brightness(0.7);
}

#navigator #logo img{
  max-width:200px;
}

#navigator #nav_menu{
  display:flex;
  width:70%;
  justify-content: space-between;
  list-style-type:none;
  margin-top:20px;
}

#wrap{
  position:relative;
  max-width:1500px;
  margin:0 auto;
}

#scroll_down{
  position:absolute;
  left:50%;
  transform: translate(-50%);
  bottom:-60%;
  animation-duration:2s;
  /*애니메이션 지속시간*/
  animation-name:up_down;
  animation-iteration-count:infinite;
}

@keyframes up_down{
  from{
    opacity:0;
    bottom:-40%;
  }
  to{
    opacity:1;
    bottom:-60%;
  }

}

#scroll_down img{
  width:90px;
}

#pre_into{
  color:white;
  text-align:center;
  background:url(../);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
  height:3000px;
  filter:blur(10px);
}

#slogun{
  font-size:50px;
  position:absolute;
  color:white;
  text-align:center;
  top:2200px;
  left:50%;
  transform:translate(-50);
  width:100%;

}

#slogun .sloguns{
  margin-bottom: 150px;
}


#slogun .sloguns:nth-child(2){
  margin-bottom:300px;
}

#slogun .sloguns p:nth-child(1){
  font-family:'Monsieur La Doulaise', serif;
  /* 블로그에서나 이런 폰트 쓰지 웹사이트는 기본적인 폰트로 씀
  오늘 받은 피드백*/
}

#slogun .sloguns p span{
  font-size:70px;
  font-weight:700;

}

#introduce{
  width:100%;
  margin-bottom:380px;
}

.title_box{
  color:white;
  text-align:center;
  position:relative;
  margin-bottom: 30px;

}

.title_box  .title_line{
  width:957px;
  height:2px;
  background:white;
  position:relative;
  left:50%;
  transform: translate(-50%);
}

#introduce_box{
  background:white;
  opacity: 0.8;
  height:800px;
  display:flex;
  align-items:center;
  justify-content: center;
}

#introduce_box #introduce_description_box{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  font-size:20px;
  position:relative;
  top:15px;
}

#introduce_box #introduce_description_box .description_line{
  background:black;
  height:1px;
  width:500px;
  margin: 5px 0 10px 0;
}

#introduce_box #introduce_description_box .description{
   width:400px;
   margin-bottom: 30px;
}

#introduce_box #introduce_description_box img{
  width:190px;
}

#introduce_image img{
  width:370px;
  margin-left:30px;
}

#about_us{
  width:957px;
  margin:0 auto;
}

#about_us  .title_box .title{
  font-family:'Noto Sans KR', sans-serif;
  font-size:35px;
  
}

#first_box, #second_box, #third_box{
  display:flex;
  margin:200px 0;
  color:white;
  justify-content:space-between;
  align-items:center;
  width:100%;
}

.desc{
  flex-grow:1;
}

.desc .about_title{
  font-family: 'Nanum Myeongjo', serif;
  font-size:40px;
}

.desc .hr{
  margin:10px 0;
  width:100%;
  height:1px;
  background:white;
}

.desc .hr{
  margin:10px 0;
  width:100%;
  height:1px;
  background:white;
}

.desc p{
  font-size:20px;
  line-height:35px;
  /*줄 간격*/
}

.desc:first-child, desc:last-child{
  margin-right:30px;
}

.desc:nth-child(1){
  margin-right:30px;
  text-align:right;
}

#service_box{
  margin-top:680px;
  width:100%;
  height:614px;
  background:white;
  opacity:0.7;
  padding:145px 270px;
}


#service_box > div{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

#service_box #service_box_top{
  display:flex;
  width:100%;
  justify-content: space-between;
}

#service_box #service_box_top h2{
  font-size:45px;
}

#service_box #service_box_top div{
    font-size:20px;
    color:white;
    background:black;
    width:259px;
    height:59px;
    border-radius: 30px;
    line-height:59px;
    text-align:center;
}

#service_box #service_box_top div a{
  text-decoration:none;
  color:white;
}

#service_box div .service_line{
  width:100%;
  height:2px;
  background:black;
}

#service_box div h3{
  font-size:30px;
}

#service_box div p{
  font-size:23px;
}

#vision_box{
  margin-top:526px;
  width:100%;
  height:436px;
  background:white;
  opacity:0.7;
  padding:30px 270px;
}


#vision_box #vision_wrap{
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  align-items:center;
}

#vision_box #vision_wrap div:nth-child(2){
  flex-grow:1;
  text-align:right;
  font-size:20px;
  line-height:35px;
}

#vision_box #vision_wrap div:nth-child(2) .vision_line{
  margin:18px 0;
  width:100%;
  height:2px;
  background:black;
}

#vision_box #vision_wrap #vision_logo img{
  width:300px;
  margin-right:70px;
}

#background_image{
  background:url(../);
  /*실크부분은 css로 사진을 넣은거였던거임 착각 ㄴㄴ*/
  height:6500px;
  background-repeat:no-repeat;
  background-position: center;
}

#first_product, #second_product, #third_product, #fourth_product, #fifth_product{
  width:1000px;
  overflow:hidden;
  margin:0 auto;
  display:flex;
  margin-bottom:130px;
}

.product_part{
  width:1000px;
  display:0;
  margin:0 auto;
}

.product_display img{
  width:1000px;
}

.product_title{
  margin-top:-10px;
  width:100%;
  display:flex;
  justify-content:center;
}

.product_title img{
  width:700px;
}

.product_display{
  position:relative;
}

.overlay_on{
  width:65px;
  height:65px;
  background:black;
  opacity:0.7;
  border-radius: 50%;
  position:absolute;
  left:900px;
  bottom:30px;
  color:white;
  font-size:60px;
  line-height:65px;
  border:none;
  cursor:pointer;
}

.overlay_on:hover{
  filter: brightness(0.7);

}

.overlay_on:active{
  transform: translate(2px, 2px);
}

.overlay_part{
  position:absolute;
  width:1000px;
  height:626px;
  background:rgba(0,0,0,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
  transform:translateX(100%);
  opacity:0;
  cursor:pointer;
}

.overlay_part img{
  width:950px;
}

#gallery .title_box{
  margin-top:500px;
}

#gal_box{
  margin-top:130px;
  display:flex;
  flex-wrap:wrap;
  width:1500px;
  gap:87px;
}

.grid{
  display:flex;
  gap:87px;
}

.flex{
  display:flex;
  flex-direction:column;
  gap:87px;
}

.gal_img:hover{
  transform:scale(0.9);
  transition:2s;
}

#map_box{
  margin-top:600px;
}

#map{
  margin:0 auto;
  width:1000px;
  height:600px;
}

#selector_box{
  margin:0 auto;
  width:1300px;
  height:250px;
  position:relative;
  display:flex;
}

#selector_box .slider{
  background:none;
  color:white;
  font-size:50px;
  border:0;
  outline:0;
  cursor:pointer;
  vertical-align:center;
  /*Vertical-align은 인라인 블록 등을 
  포함한 모든 인라인요소의 수직 정렬을 위해 사용됩니다*/
}

#selector_box .slider:hover{
  background:white;
  opacity:0.5;
  transition:1s;
  color:black;
}
#bt_box{
  width:1000px;
  height:250px;
  position:relative;
  overflow:hidden;
}

#bt_box #bt{
  margin-top:30px;
  position:absolute;
  display:flex;
  column-gap:20px;
  left:0;

}

#bt_box #bt .location{
  z-index:30;
  width:200px;
  height:200px;
  border-radius:50%;
  cursor:pointer;
  line-height:200px;
  text-align:center;
  font-size:30px;
  font-weight:0;
  color:white;
}

#bt_box #bt .location span{
  display:none;
}

#bt_box #bt .location:hover{
  filter:brightness(0.6);
  transform:scale(0.9);
  transition:1s;
}

#bt_box #bt .location:hover span{
  display:block;
}

.location:nth-child(1){
  background:url();
  background-size:cover;

}

.location:nth-child(2){
  background:url();
  background-size:cover;

}

.location:nth-child(3){
  background:url();
  background-size:cover;

}

.location:nth-child(4){
  background:url();
  background-size:cover;

}

.location:nth-child(5){
  background:url();
  background-size:cover;

}

.location:nth-child(6){
  background:url();
  background-size:cover;

}

.location:nth-child(7){
  background:url();
  background-size:cover;

}

#custom_order{
  margin:0 auto;
  margin-top:500px;
}

#profile_box{
  width:100%;
  display:flex;
  justify-content:space-between;
}

.profile p{
  margin-top:20px;
  color:white;
  text-align:center;
  font-size:30px;
  line-height:50px;
}

.profile_sns{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:25px;
}

.insta{
  width:97px;
  height:97px;
  background:url();
  background-repeat:no-repeat;
}

.kakao{
  width:97px;
  height:97px;
  background:url();
  background-repeat:no-repeat;
}

#footer{
  margin-top:500px;
  width:100vw;
  background:black;
  padding:60px;
  color:white;
}

#footer .top{
  display:grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 250px 200px;
}

#footer .top .footer_logo_box img{
  width:300px;
}


#footer .top .footor_sns_box p{
  font-size:20px;
}

#footer .top .footor_sns_box {
  display:flex;
  justify-content:space-between;
}

#footer .top .footer_sns_box div{
  width:50px;
  height:50px;
  background:grey;
  border-radius:50%;
  justify-content: center;
  align-items:center;
}

#footer .top #footer_nav{
  display:flex;
  justify-content:center;
  align-items:end;
}

#footer .top #footer_nav div a{
  text-decoration:none;
  color:white;
  font-size:20px;
  font-weight:500;
}

#tel_box h3{
  font-size:40px;
}

.footer_line{
  width:100%;
  height:2px;
  background:white;
  margin:20px 0;
}

.bottom{
  position:relative;
}

.bottom p{
  padding:10px;
}

.absolute_one{
  display:flex;
  position:absolute;
  align-self:start;
  justify-self:end;
  right:30px;
  top:0px;
}



















