*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

ul{
    list-style-type:none;
}

input{
    border:0;
    outline:none; 
    /*검색기능 줄을 안보이게 함*/
} 

#wrap{
    position:relative;
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:50px 0;
}

#search_wrap{
    width:50%;
    height:40px;
    margin:20px auto;
    padding-left:20px;
    display:flex;
    border:3px solid #ddd;
    min-width:400px;
    align-items:center;
    position:relative;
    border-radius:20px;
}

#search_wrap label{
    position:absolute;
    left:20px;
}

#search_wrap i{
    padding:0 10px;
    font-size:20px;
}

#keyword{
    width:100%;
    height:30px;
    font-size:18px;
}

#keyword:focus + label{
    display:none;
}

#data_box{
    width:100%;
}

#data_list{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.data{
    width:250px;
}

