@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&family=Noto+Sans+KR:wght@100&display=swap');

#board_container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, calc(1400px / 9));
    /* grid-template-areas:
        'top top top top top top top top top'
        'l.......r'
        'l.......r'
        'l.......r'
        'l.......r'
        'l.......r'
        'bottom  bottom bottom bottom bottom bottom bottom bottom bottom'; */
}

.pan {
    display: flex;
    align-items: end;
}

.center {
    background: url(../image/1.jpg) center no-repeat;
    background-size: cover;
    grid-area: center;
}

.location_name {
    background: lightgreen;
    width: 100%;
    color: black;
    padding: 5px 0;
    text-align: center;
    border-right: 1px solid grey;
    font-weight: 800;
}

/* .top {
    grid-area: top;
}

.sideR {
    grid-area: l;
}

.bottom {
    grid-area: bottom;
} */

#items {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 300px;
    width: 500px;
}
#items #dice_bt {
    position: relative;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    padding: 5px 30px;
    font-size: 25px;
    font-weight: 800;
    background: rgb(67, 119, 115);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#items #dice_bt:hover {
    filter: brightness(0.85);
}
#items #dice_bt:active {
    box-shadow: inset 5px 5px 0px rgba(0, 0, 0, 0.25);
    filter: none;
}

#dice_wrap {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    perspective: 700px; /*원근감 효과(3D)*/
}
#dice_wrap:after {
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 120px;
    height: 10px;
    filter: blur(10px);
    background: rgb(0, 0, 0, 0.9);
}
#dice_wrap .dice {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1.5s;
    transform-style: preserve-3d; /* 3D 스타일로 */
    /* animation: turn 20s linear infinite; */
}
#dice_wrap .dice > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    border: 5px solid #444;
    background: rgba(255, 84, 68, 0.89);
}
#dice_wrap .dice > div:nth-child(1) {
    transform: translateZ(50px);
}
#dice_wrap .dice > div:nth-child(2) {
    transform: translateX(-50px) rotateY(-90deg);
}
#dice_wrap .dice > div:nth-child(3) {
    transform: translateY(-50px) rotateX(-270deg);
}
#dice_wrap .dice > div:nth-child(4) {
    transform: translateY(50px) rotateX(270deg);
}
#dice_wrap .dice > div:nth-child(5) {
    transform: translateX(50px) rotateY(90deg);
}
#dice_wrap .dice > div:nth-child(6) {
    transform: translateZ(-50px) rotateY(-180deg);
}

@keyframes turn {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
