* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    width: 600px;
    margin: 20px auto;
}

#main_title {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

#search_wrap {
    width: 100%;
    margin: 30px auto;
    border: 1px solid #ddd;
}

.search_input {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}
.word_box #word {
    width: 400px;
    border: none;
    border-bottom: 2px solid;
}

.word_box input {
    padding-left: 20px;
    font-size: 13px;
}

.word_box #word i {
    font-size: 20px;
}

#detail_bt {
    width: 100px;
    margin: 0 10px;
    background-color: darksalmon;
    border: none;
    border-radius: 10px;
    font-weight: 800;
}

.search_detail .tall_range {
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: left;
    padding: 20px 0;
}

.search_detail {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.search_detail .tall_range label {
    width: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.search_detail .tall_range input {
    width: 70px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.search_detail .eyes_range {
    display: flex;
    margin: 0 20px;
}

.search_detail .eyes_range input {
    border-radius: 10px;
    width: 70px;
    height: 20px;
    text-align: center;
}

.eyes_range label {
    width: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.search_detail .cls_select {
    display: flex;
    width: 300px;
    margin: 30px 15px;
    font-weight: 800;
}

.search_detail .cls_select label {
    width: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

#cls {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

#list_wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.info {
    width: 30%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: left;
}
.dt {
    list-style-type: none;
}

.name {
    font-weight: 800;
    text-align: center;
    font-size: 20px;
}
