#content{
    width:600px; 
    height:300px;
    margin:0 auto;
    background-color:antiquewhite;
    
    
}

#content h3{
    text-align:left;
    padding:9px 50px;
    border-bottom: 2px solid burlywood;
    /* background-color: ; */
}

#sign_wrap{
    width:100%;
    margin:20px 40px;
    /* padding:10px 0; 전체의 웹이움직임 생각하고 하자 */
    /* display:flex;
    flex-direction: column; */
    /* justify-content: ; */
    /* margin-bottom:20px; */
    /* padding:0 30px; */
}

/* #sign_part{
    /* margin:10px 0;
    margin-bottom: 10px;

}  */

.sign_input{
    /* width:500px; */
    /* display:flex;
    justify-content: space-between;  */
    /* row-gap: 20px;
    column-gap: 20px;  */
    padding:5px 0;

}

#email{
    width:120px;
    height:20px;
    margin:0 25px;
    
}

#password{
    width:120px;
    height:20px;
    margin:0 10px;
}

#sdmTel1{
    width:50px;
    height:20px;
    margin-left:  25px;
}

#sdmTel2{
    width:100px;
    height:20px;
    /* margin:0 9px; */
}

#sdmTel3{
    width:100px;
    height:20px;
    /* margin:0 9px; */
}

#addr{
    width:120px;
    height:20px;
    margin:0 10px;
}

#wDate{
    width:123px;
    height:20px;
    margin:0 15px;
}

.sign_bt_part{
    margin:5px 450px;
    padding:7px 0;
}

.sign_bt{
    /* margin:10px 0; */
    text-decoration: none;
    display:inline-block;
    width:90px;
    height:30px;
    background-color:lemonchiffon;
    color:black;
    text-align: center;
    margin:5px 0;
    padding:5px 0;
}

