* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    width: 1200px;
    margin: 30px auto;
}

#header {
    width: 100%;
}

.select_box {
    width: 1000px;
    height: 30px;
    border: 1px solid grey;
    background: grey;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 30px;
    padding: 2px 7px;
    position: relative;
}

.select_pl {
    width: 200px;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.check_wrap {
    width: 1000px;
    height: 100px;
    margin: 30px 30px;
    border: 1px solid grey;
    /* position:absolute; */
}

.check_box {
    width: 500px;
    height: 35px;
    margin: 15px 20px;
}

.check_box label {
    font-weight: 800;
}

.search_wrap {
    width: 1000px;
    margin: 30px 30px;
    display: flex;
    justify-content: space-between;
}

.search_wrap #rentgtn {
    width: 190px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

.search_wrap #rntchrg {
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

.search_result {
    width: 1000px;
    margin: 30px 30px;
    display: flex;
    justify-content: center;
}

.search_result table {
    width: 100%;
}

.search_result table th {
    background: grey;
    width: 500px;
    font-size: 17px;
}
