body{
  margin:0;
  padding:0;
   background-color:pink;
}

#container{
  display:grid;

  grid-template-columns: repeat(4, minmax(100px, auto));
  grid-template-rows: repeat(3, minmax(80px, auto));
  /* grid-auto-flow:dense; */
  height:800px;
  /* align-items: center; */
  /* justify-content: space-between; */

  /* row, column, dense, row dense, column dense
  자동으로 채워주는 애들*/
}

.item:nth-child(6){
  Z-index:1;
  transform: scale(3);
}


.item:nth-child(2){
  grid-column: auto/span 3;
  align-self: start;
}

.item:nth-child(5){
  grid-column: auto/ span 3;
}

.item:nth-child(7){
  grid-column: auto/ span 2;
}


.item{
  border:1px solid white;
  background-color:palevioletred;
  font-size:50px;
  color:white;
}