*{
  padding:0;
  margin:0;

}

ul,ol{
  list-style-type:none;
}


input{
  outline:none; border:0;
}

a:visited{
  color:transparent;
}

a{
  text-decoration:none;
}

#wrap{
  position:relative;
  max-width:1600px;
  margin: 0 auto;
  background: white;
}

#header{
  position:absolute;
  top:0;
  width:100%;
  z-index:10;
}

#logo{
  position:absolute;
  width:120px;
  top:48px;
  left:50%;
  margin-left:-633px;
  z-index:100;
}

#logo a{
  width:100%;
}

#logo a img{
  width:100%;
}

#navigation{
  position:absolute;
  top:0;
  width:100%;
 
}

#top_menu{
  background:rgba(0,0,0,0.7);
  
}

.top_wrap{
 max-width:1180px;
 width:96%;
 margin: 0 auto;
 display:flex;
 align-items:center;
}

.top_wrap .hours{
  display:flex;
  color:white;
  align-items:center;
  width:310px;
}

.top_wrap .hours a{
  background:pink;
  color:white;
  display:block;
  padding:8px 12px;
  margin-left:10px;
  text-shadow: -1px -1px 1px black;
}

.top_wrap .top_linkes{
    width:calc(100% - 310px - 30px);
    display:flex;
    justify-content: end;
    padding-right:10px;
    height:39px;
    align-items: center;
    border-right:1px dotted white;
}

.top_wrap .top_linkes a{
  color:#f90;
  display:inline-block;
  padding:0 10px;
}

.top_wrap .top_linkes .become{
  color:black;
  background:#f90;
  border-radius: 4px;
  font-weight: 800;
  margin:4px;
}

.top_wrap .search_button{
  color:#f90;
  font-size:20px;
  padding:0 12px;
  cursor:pointer;
}

.top_wrap .search_bar{
  position:absolute;
  z-index:11;
  top:0;
  left:0;
  width:100%;
  padding:200px 6%;
  background:black;
}

.top_wrap .search_bar div{
  width:800px;
  margin:0 auto;
  position:relative;
}

.top_wrap  .search_bar #s{
  width:100%;
  font-size:30px;
  padding:5px;
  height:60px;
}

.top_wrap .search_bar .srh_button{
  position:absolute;
  top:0;
  right:0;
  height:60px;
  width:26%;
  border:0;
  background:#f90;
  font-size:20px;
  color:white;
  cursor:pointer;
  font-weight:900;
}

.search_close{
  color:#f90;
}

.top_wrap .search_bar .search_close{
  color:#f90;
  font-size:20px;
  font-weight:900;
  position:absolute;
  top:4px;
  width:calc (100%-12%);
  display:flex;
  justify-content: end;
  cursor:pointer;

}

#nav{
  /*
  -webkit-gradient(linear, left top, left bottom, color stop
  (20%, rgba(0,0,0,0.6), to (rgba(0,0,0,0));
  */
  background:linear-gradient(rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 100%);
  height:80px;
}

.main_menu{
  display:flex;
  color:white;
  max-width:1000px;
  margin:0 auto;
  justify-content:space-between;
  height:80px;
  align-items: center;
  font-size:18px;
  font-weight:800;
}


.sub_block{
  /* display:none; */
  position:absolute;
  display:flex;
  top:80px;
  width:1000px;
  background:white;
  color:rgba(0,0,0,0.7);
  justify-content:space-between;
  
}
.sub_block .sub_item{
  padding:10px;
  width:230px;
}

.main_menu .toplink .sub_block a{
  color:rgba(0,0,0,0.7);
  display:block;
}

.main_menu .toplink a{
  color:white;
}


.main_menu .toplink{
  position:relative;
  padding:30px 0;
}

.main_menu .toplink .sub_block{
  display:none;
}

.main_menu .toplink:hover  .sub_block{
  display:flex;
}

.main_menu .toplink .sub_block a{
  color:rgba(0,0,0,0.7);
  display:block;
}

.main_menu:hover{
  background:#fff;
  color:#999;
}

.main_menu:hover .toplink a{
    color:#999;
}

.main_menu .toplink .sub_block .sub_item h3{
  color:#690;
}








#banner{

}

.slide_item img{
  width:292px;
  height:192px;
  
}

