@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*,*:before, *:after{
    box-sizing: border-box;
}

body, h1,h2,h3,h4,h5,h6, p,ul,ol,li,
dl,dd{
    margin:0;
    padding:0;
}
img{
    max-width:100%;
    display:block;

}

a{
    text-decoration: none;
    color: inherit;

}

#wrap{
    max-width:1080px;
    width:90%;
    margin:0 auto;
}

#header{
    position: sticky;
    top:0;
    background:white;
    display:flex;
    justify-content: space-between;
    padding:7px 20px;
    border-bottom: 1px solid black;
    /*스크롤 내렸을 때 화면바 메뉴 고정할 때 
    position-sticky 넣기*/
}
.header-logo{
    width:100px;
}

.header-nav{
    display:flex;
    align-items: center;

}

.header-nav a {
    margin-left:15px;
}

.header-nav a:nth-child(2){
    display:flex;
    align-items:center;
    padding: 7px 17px;
    color:red;
    background-color: yellow;
    border-radius: 7px;
}

.header-nav a:nth-child(2) i{
    padding-left:5px;
}


    

#main{
    padding:15px 0;

}
#flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap:20px;

}
.flexitem{ 
    max-width:300px;
    border:1px solid black;
    border-radius: 10px;
    overflow: hidden;
    width:30%;

}

.product-content { 
    display:flex;
    justify-content:space-between;
    padding:7px;
}




.product-info{
    font-size:13px;

}

.like{
    align-self: flex-end;
}


@media screen and (max-width:768px) {/*768px이하 라면*/
    .title{
        color:aqua;
    }
    #flex{
        column-gap:15px;}
    .flexitem{
        width:40%;
    }    
}

/* 이걸 해봐요. 너비가 576px이하 일 경우 한줄에 하나만 나오게 */

@media screen and (max-width:576px){
    .flexitem{
        width:75%;
    }    
}

    







