#wrap{
    width:80%;
    max-width:1000px;
    min-width:650px;
    margin:50px auto;
}

table tr td{
    border: 1px solid black;
    width:150px;
    height:150px;
    text-align: center;
    font-size: 50px;
}

